#los archivos con estas extensiones, se ignoran
#compilacion
*.o
*.out
*.exe
*.run
prueba
juego
.idea/
# Visual Studio
.vscode/
.vs/
*.vcxproj.user
# Build folders
build/
x64/
Debug/
Release/
# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
# Executables
*.exe
#temporales
*.log
*.tmp
*.swp
*.swo
#archivos extra
.DS_Store
CMakeLists.txt
#generados
*.user
*.cache
*.dat
