#los archivos con estas extensiones, se ignoran
#compilacion
*.o
*.out
*.exe
*.run
prueba
juego
.vscode/
.idea/

#temporales
*.log
*.tmp
*.swp
*.swo

#archivos extra
.DS_Store
CMakeLists.txt

#generados
*.user
*.cache
